<div class="card mb-4 wow fadeIn">
    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-sm-0 pt-3 pb-3">
            <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank" class="orange-text">Home
                Page</a>
            <span>/</span>
            <span>Dashboard</span>
        </h4>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-md-12">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!-- Table with panel -->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header peach-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                    <div>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                            <i class="fas fa-th-large mt-0"></i>
                        </button>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                            <i class="fas fa-columns mt-0"></i>
                        </button>
                    </div>

                    <a href="" class="white-text mx-3">{{tableName}}</a>

                    <div>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                            <i class="fas fa-pencil-alt mt-0"></i>
                        </button>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                            <i class="far fa-trash-alt mt-0"></i>
                        </button>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                            <i class="fas fa-info-circle mt-0"></i>
                        </button>
                    </div>

                </div>
                <!--/Card image-->

                <div class="px-4">

                    <div class="table-wrapper">
                        <!--Table-->
                        <table class="table table-hover mb-0">

                            <!--Table head-->
                            <thead>
                            <tr>
                                <div *ngFor="let column of columns">
                                    <th class="th-lg">
                                        <a>{{column}}
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>
                                </div>
                            </tr>
                            </thead>
                            <!--Table head-->

                            <!--Table body-->
                            <tbody>
                            <div *ngFor="let row of rows">
                                <tr>
                                    <div *ngFor="let data of row">
                                        <td>{{data}}</td>
                                    </div>
                                </tr>
                            </div>
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>

                </div>

            </div>
            <!-- Table with panel -->
        </div>
        <!--/.Card-->
    </div>
</div>